# Final Project Phase 2 Summary
This Jupyter Notebook (.ipynb) will serve as the skeleton file for your submission for Phase 2 of the Final Project. Answer all statements addressed below as specified in the instructions for the project, covering all necessary details. Please be clear and concise in your answers. Each response should be at most 3 sentences. Good luck! <br><br>

Note: To edit a Markdown cell, double-click on its text.

## Jupyter Notebook Quick Tips
Here are some quick formatting tips to get you started with Jupyter Notebooks. This is by no means exhaustive, and there are plenty of articles to highlight other things that can be done. We recommend using HTML syntax for Markdown but there is also Markdown syntax that is more streamlined and might be preferable. 
<a href = "https://towardsdatascience.com/markdown-cells-jupyter-notebook-d3bea8416671">Here's an article</a> that goes into more detail. (Double-click on cell to see syntax)

# Heading 1
## Heading 2
### Heading 3
#### Heading 4
<br>
<b>BoldText</b> or <i>ItalicText</i>
<br> <br>
Math Formulas: $x^2 + y^2 = 1$
<br> <br>
Line Breaks are done using br enclosed in < >.
<br><br>
Hyperlinks are done with: <a> https://www.google.com </a> or 
<a href="http://www.google.com">Google</a><br>

# Data Collection and Cleaning
You are required to provide data collection and cleaning for the three (3) minimum datasets. Create a function for each of the following sections that reads or scrapes data from a file or website, manipulate and cleans the parsed data, and writes the cleaned data into a new file. 

Make sure your data cleaning and manipulation process is not too simple. Performing complex manipulation and using modules not taught in class shows effort, which will increase the chance of receiving full credit.

## Data Sources
Include sources (as links) to your datasets. Add any additional data sources if needed. Clearly indicate if a data source is different from one submitted in your Phase I, as we will check that it satisfies the requirements.
*   Downloaded Dataset Source: <a> https://ope.ed.gov/athletics/#/datafile/list </a>
*   Web Collection #1 Source: <a> https://sofifa.com/players </a>
*   Web Collection #2 Source: <a> https://www.football-data.org/documentation/quickstart </a>

## Downloaded Dataset Requirement

Fill in the predefined functions with your data scraping/parsing code. You may modify/rename each function as you seem fit, but you must provide at least 3 separate functions that clean each of your required datasets.

In [1]:
def data_parser():
    import pandas as pd
    import numpy as np

    df = pd.read_excel("Schools.xlsx", sheet_name="Query", engine='openpyxl')
    soccer_data = df[df["Sports"] == "Soccer"]
    soccer_data = soccer_data[["institution_name", "addr1_txt", "city_txt", "state_cd", "ClassificationCode", "classification_name", "EFMaleCount", "EFFemaleCount", "EFTotalCount", "PARTIC_MEN", "PARTIC_WOMEN", "SUM_FTHDCOACH_MALE", "SUM_FTHDCOACH_FEM", "MEN_FTHEADCOACH_MALE", "MEN_FTHEADCOACH_FEM", "WOMEN_FTHDCOACH_MALE", "WOMEN_FTHDCOACH_FEM", "REV_MEN", "REV_WOMEN", "EXP_MEN", "EXP_WOMEN"]]
    for column in ["PARTIC_MEN", "PARTIC_WOMEN", "REV_MEN", "REV_WOMEN", "EXP_MEN", "EXP_WOMEN", "MEN_FTHEADCOACH_MALE", "MEN_FTHEADCOACH_FEM", "WOMEN_FTHDCOACH_MALE", "WOMEN_FTHDCOACH_FEM"]:
        soccer_data[column] = soccer_data[column].fillna(0)
    soccer_data = soccer_data[pd.isna(soccer_data["state_cd"]) == False]
    soccer_data["division"] = soccer_data["classification_name"].str.extract(r"Division (I*)")[0].str.len().fillna(0.0).astype(int)
    soccer_data["profit_men"] = soccer_data["REV_MEN"] - soccer_data["EXP_MEN"]
    soccer_data["profit_women"] = soccer_data["REV_WOMEN"] - soccer_data["EXP_WOMEN"]
    soccer_data["net_profits"] = soccer_data["profit_men"] + soccer_data["profit_women"]
    soccer_data.to_csv("collegiate_soccer_data.csv")
    print(soccer_data)
    return soccer_data



############ Function Call ############
data_parser()

,institution_name,addr1_txt,city_txt,state_cd,ClassificationCode,classification_name,EFMaleCount,EFFemaleCount,EFTotalCount,PARTIC_MEN,...,WOMEN_FTHDCOACH_MALE,WOMEN_FTHDCOACH_FEM,REV_MEN,REV_WOMEN,EXP_MEN,EXP_WOMEN,division,profit_men,profit_women,net_profits
4,Alabama A & M University,4900 Meridian Street,Normal,AL,2,NCAA Division I-FCS,1951,3024,4975,0.0,...,1.0,0.0,0.0,579985.0,0.0,579989.0,1,0.0,-4.0,-4.0
26,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,1,NCAA Division I-FBS,4020,6252,10272,33.0,...,0.0,1.0,856140.0,865816.0,856140.0,865816.0,1,0.0,0.0,0.0
64,University of Alabama in Huntsville,301 Sparkman Dr,Huntsville,AL,5,NCAA Division II without football,3915,2818,6733,31.0,...,1.0,0.0,289306.0,342040.0,289306.0,342040.0,2,0.0,0.0,0.0
102,Alabama State University,915 S Jackson Street,Montgomery,AL,2,NCAA Division I-FCS,1258,2188,3446,0.0,...,1.0,0.0,0.0,435889.0,0.0,435889.0,1,0.0,0.0,0.0
140,The University of Alabama,739 University Blvd,Tuscaloosa,AL,1,NCAA Division I-FBS,13112,15902,29014,0.0,...,1.0,0.0,0.0,816094.0,0.0,1883398.0,1,0.0,-1067304.0,-1067304.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62012,Husson University,1 College Circle,Bangor,ME,6,NCAA Division III with football,1072,1332,2404,42.0,...,0.0,0.0,170721.0,60025.0,128510.0,58790.0,3,42211.0,1235.0,43446.0
62050,University of Saint Katherine,1637 Capalina Road,San Marcos,CA,10,NAIA Division II,122,93,215,25.0,...,0.0,1.0,407095.0,264665.0,342899.0,203270.0,2,64196.0,61395.0,125591.0
62088,Clovis Community College,10309 N. Willow Ave,Fresno,CA,17,CCCAA,1100,1264,2364,27.0,...,0.0,0.0,69050.0,73704.0,63152.0,57969.0,0,5898.0,15735.0,21633.0
62114,Piedmont International University,420 S. Broad St.,Winston-Salem,NC,15,NCCAA Division I,140,114,254,29.0,...,1.0,0.0,182587.0,172786.0,182587.0,172786.0,1,0.0,0.0,0.0
62133,Purdue University Northwest,2200 169th Street,Hammond,IN,5,NCAA Division II without football,2653,2798,5451,30.0,...,1.0,0.0,258561.0,221433.0,258561.0,221433.0,2,0.0,0.0,0.0

## Web Collection Requirement \#1 (API)

In [3]:
def web_parser1():
    import numpy as np
    import pandas as pd
    import requests as r
    import re
    import time
    from pprint import pprint

    # average age of squads - for games - and win rate?
    # average age of squads and standinds on premier leauge table (final matchday)

    league_list = ["PL", "SA", "BL1", "FL1", "PD"] # code names for the top 5 leagues in europe

    for league in league_list:

        base_url_standings = f"https://api.football-data.org/v2/competitions/{league}/standings"
        key = "6ffd78a1099648b9a68901335d4fc843"

        response_standings = r.get(base_url_standings, headers={"X-Auth-Token":key})
        data_standings = response_standings.json()

        newList = []

        for i in data_standings["standings"][0]["table"]:
            newDict = {}

            newDict["id"] = i["team"]["id"]
            newDict["team"] = i["team"]["name"]
            newDict["position"] = i["position"]
            newDict["points"] = i["points"]
            newDict["playedGames"] = i["playedGames"]
            newDict["won"] = i["won"]
            newDict["lost"] = i["lost"]
            newDict["draw"] = i["draw"]
            newDict["goalsFor"] = i["goalsFor"]
            newDict["goalsAgainst"] = i["goalsAgainst"]
            newDict["goalDifference"] = i["goalDifference"]
            newDict["form"] = i["form"]

            newList.append(newDict)

        league_name = f"df_{league}_2021_2022"

        league_name = pd.DataFrame(newList) # creates DataFrame with newList data

        league_name.loc[:, "form"] = np.where((league_name.loc[:, "won"]/league_name.loc[:, "lost"]) >= 1, "Good", "Bad")
        print(league_name)
        league_name.to_csv(f"{league}_2022.csv") # keep un-commented

        time.sleep(60) # check if needed

        league_average = pd.DataFrame()

        club_names_list = []
        average_ages_list = []

        for k in range(0, len(newList)):
            try:
                base_url_teams = "https://api.football-data.org/v2/teams/"
                id_squad = str(newList[k]["id"])
                club_name = newList[k]["team"]

                response_teams = r.get(base_url_teams + id_squad, headers={"X-Auth-Token":key})
                data_teams = response_teams.json()

                squad = data_teams["squad"]

                squad_list = []

                for player in squad:
                    squad_dict = {}
                    squad_dict["id"] = player["id"]
                    squad_dict["name"] = player["name"]
                    
                    dob = re.findall("\d{4}-\d{2}-\d{2}", player["dateOfBirth"])[0]
                    year = dob.split("-")[0]
                    month = dob.split("-")[1]

                    if int(month) > 4: # assuming today's date is 01/04/2022
                        age = 2022 - int(year) - 1
                    else:
                        age = 2022 - int(year)
                    
                    squad_dict["age"] = age

                    squad_list.append(squad_dict)
            except:
                pass # use this incase to catch exceptions

            time.sleep(10) # check if needed (needed)

            team_name = f"df_team_{id_squad}"
            team_name = pd.DataFrame(squad_list)

            club_names_list.append(club_name)
            average_ages_list.append(round(team_name.loc[:, "age"].mean(), 5))
        league_average["club_name"] = club_names_list
        league_average["avg.age"] = average_ages_list
        print(league_average)
        league_average.to_csv(f"{league}_2022_average_age.csv") # keep un-commented

        time.sleep(30)

############ Function Call ############
web_parser1()

     id                        team  position  points  playedGames  won  lost  \
0    65          Manchester City FC         1      73           30   23     3
1    64                Liverpool FC         2      72           30   22     2
2    61                  Chelsea FC         3      59           29   17     4
3    73        Tottenham Hotspur FC         4      54           30   17    10
4    57                  Arsenal FC         5      54           29   17     9
5   563          West Ham United FC         6      51           31   15    10
6    66        Manchester United FC         7      51           30   14     7
7    76  Wolverhampton Wanderers FC         8      49           31   15    12
8   354           Crystal Palace FC         9      37           30    8     9
9   338           Leicester City FC        10      37           28   10    11
10   58              Aston Villa FC        11      36           30   11    16
11  340              Southampton FC        12      36           30    8    10
12  397   Brighton & Hove Albion FC        13      34           30    7    10
13  402                Brentford FC        14      33           31    9    16
14   67         Newcastle United FC        15      31           30    7    13
15  341             Leeds United FC        16      30           31    7    15
16   62                  Everton FC        17      25           28    7    17
17  346                  Watford FC        18      22           30    6    20
18  328                  Burnley FC        19      21           28    3    13
19   68             Norwich City FC        20      18           30    4    20

    draw  goalsFor  goalsAgainst  goalDifference  form
0      4        70            18              52  Good
1      6        77            20              57  Good
2      8        58            23              35  Good
3      3        52            37              15  Good
4      3        44            34              10  Good
5      6        51            40              11  Good
6      9        49            41               8  Good
7      4        33            27               6  Good
8     13        42            38               4   Bad
9      7        43            47              -4   Bad
10     3        42            42               0   Bad
11    12        37            46              -9   Bad
12    13        26            36             -10   Bad
13     6        37            48             -11   Bad
14    10        33            54             -21   Bad
15     9        35            68             -33   Bad
16     4        30            49             -19   Bad
17     4        29            57             -28   Bad
18    12        22            40             -18   Bad
19     6        18            63             -45   Bad
                     club_name   avg.age
0           Manchester City FC  27.04348
1                 Liverpool FC  27.11111
2                   Chelsea FC  26.85185
3         Tottenham Hotspur FC  25.60870
4                   Arsenal FC  24.57143
5           West Ham United FC  28.91667
6         Manchester United FC  28.22222
7   Wolverhampton Wanderers FC  26.00000
8            Crystal Palace FC  27.61538
9            Leicester City FC  27.03704
10              Aston Villa FC  26.54545
11              Southampton FC  26.65385
12   Brighton & Hove Albion FC  25.73913
13                Brentford FC  25.69231
14         Newcastle United FC  28.35714
15             Leeds United FC  24.91667
16                  Everton FC  27.13333
17                  Watford FC  27.89655
18                  Burnley FC  29.91667
19             Norwich City FC  25.96000
     id                      team  position  points  playedGames  won  lost  \
0    98                  AC Milan         1      67           31   20     4
1   113                SSC Napoli         2      66           31   20     5
2   108  FC Internazionale Milano         3      63           30   18     3
3   109               Juventus FC         4      59           31   17     6
4   100                   AS Roma         5      54           31   16     9
5   110                  SS Lazio         6      52           31   15     9
6   102               Atalanta BC         7      51           30   14     7
7    99            ACF Fiorentina         8      50           30   15    10
8   450          Hellas Verona FC         9      45           31   12    10
9   471        US Sassuolo Calcio        10      43           31   11    10
10  586                 Torino FC        11      38           30   10    12
11  103           Bologna FC 1909        12      34           30    9    14
12  115            Udinese Calcio        13      33           29    7    10
13  445                 Empoli FC        14      33           31    8    14
14  488             Spezia Calcio        15      32           31    9    17
15  584              UC Sampdoria        16      29           31    8    18
16  104           Cagliari Calcio        17      25           31    5    16
17  454                Venezia FC        18      22           30    5    18
18  107                 Genoa CFC        19      22           31    2    13
19  455       US Salernitana 1919        20      16           29    3    19

    draw  goalsFor  goalsAgainst  goalDifference  form
0      7        56            29              27  Good
1      6        56            23              33  Good
2      9        63            24              39  Good
3      8        47            27              20  Good
4      6        51            35              16  Good
5      7        60            46              14  Good
6      9        52            34              18  Good
7      5        49            38              11  Good
8      9        56            47               9  Good
9     10        56            51               5  Good
10     8        35            30               5   Bad
11     7        32            44             -12   Bad
12    12        41            47              -6   Bad
13     9        41            56             -15   Bad
14     5        32            54             -22   Bad
15     5        39            52             -13   Bad
16    10        29            59             -30   Bad
17     7        25            55             -30   Bad
18    16        23            48             -25   Bad
19     7        22            66             -44   Bad
                   club_name   avg.age
0                   AC Milan  26.70370
1                 SSC Napoli  27.28000
2   FC Internazionale Milano  30.08000
3                Juventus FC  27.33333
4                    AS Roma  25.17857
5                   SS Lazio  27.57692
6                Atalanta BC  26.50000
7             ACF Fiorentina  27.04000
8           Hellas Verona FC  25.88000
9         US Sassuolo Calcio  26.44828
10                 Torino FC  25.34483
11           Bologna FC 1909  25.86207
12            Udinese Calcio  26.65385
13                 Empoli FC  25.35714
14             Spezia Calcio  23.64516
15              UC Sampdoria  27.92000
16           Cagliari Calcio  26.18519
17                Venezia FC  26.40000
18                 Genoa CFC  25.83333
19       US Salernitana 1919  27.45714
     id                       team  position  points  playedGames  won  lost  \
0     5          FC Bayern München         1      66           28   21     4
1     4          Borussia Dortmund         2      57           28   18     7
2     3        Bayer 04 Leverkusen         3      51           28   15     7
3   721                 RB Leipzig         4      48           28   14     8
4    17                SC Freiburg         5      45           28   12     7
5     2        TSG 1899 Hoffenheim         6      44           28   13    10
6    28         1. FC Union Berlin         7      41           28   11     9
7     1                 1. FC Köln         8      40           28   10     8
8    19        Eintracht Frankfurt         9      39           28   10     9
9    15            1. FSV Mainz 05        10      38           27   11    11
10   36            VfL Bochum 1848        11      35           28   10    13
11   18   Borussia Mönchengladbach        12      34           28    9    12
12   11              VfL Wolfsburg        13      31           28    9    15
13   16                FC Augsburg        14      29           27    7    12
14   10              VfB Stuttgart        15      27           28    6    13
15   38          Arminia Bielefeld        16      26           28    5    12
16    9                 Hertha BSC        17      26           28    7    16
17   21  SpVgg Greuther Fürth 1903        18      16           28    3    18

    draw  goalsFor  goalsAgainst  goalDifference  form
0      3        85            29              56  Good
1      3        68            42              26  Good
2      6        68            42              26  Good
3      6        61            31              30  Good
4      9        44            33              11  Good
5      5        50            42               8  Good
6      8        34            38              -4  Good
7     10        38            41              -3  Good
8      9        39            38               1  Good
9      5        40            31               9  Good
10     5        30            40             -10   Bad
11     7        39            52             -13   Bad
12     4        29            45             -16   Bad
13     8        32            44             -12   Bad
14     9        36            51             -15   Bad
15    11        23            39             -16   Bad
16     5        30            62             -32   Bad
17     7        24            70             -46   Bad
                    club_name   avg.age
0           FC Bayern München  25.51852
1           Borussia Dortmund  25.12903
2         Bayer 04 Leverkusen  24.60714
3                  RB Leipzig  24.07407
4                 SC Freiburg  25.11538
5         TSG 1899 Hoffenheim  25.43333
6          1. FC Union Berlin  27.51852
7                  1. FC Köln  25.07143
8         Eintracht Frankfurt  25.06061
9             1. FSV Mainz 05  25.57692
10            VfL Bochum 1848  27.37931
11   Borussia Mönchengladbach  25.80769
12              VfL Wolfsburg  25.00000
13                FC Augsburg  25.89655
14              VfB Stuttgart  23.78947
15          Arminia Bielefeld  24.92308
16                 Hertha BSC  25.90000
17  SpVgg Greuther Fürth 1903  25.03704
     id                      team  position  points  playedGames  won  lost  \
0   524    Paris Saint-Germain FC         1      68           30   21     4
1   516    Olympique de Marseille         2      56           30   16     6
2   529     Stade Rennais FC 1901         3      53           30   16     9
3   576      RC Strasbourg Alsace         4      51           30   14     7
4   522                  OGC Nice         5      51           30   15     8
5   548              AS Monaco FC         6      47           30   13     9
6   521                 Lille OSC         7      47           30   12     7
7   543                 FC Nantes         8      45           30   13    11
8   523        Olympique Lyonnais         9      45           30   12     8
9   546       Racing Club de Lens        10      44           30   12    10
10  518           Montpellier HSC        11      41           30   12    13
11  512         Stade Brestois 29        12      38           30   10    12
12  547            Stade de Reims        13      36           30    8    10
13  532                Angers SCO        14      32           30    8    14
14  531              ES Troyes AC        15      32           30    8    14
15  525                FC Lorient        16      28           30    6    14
16  541          Clermont Foot 63        17      28           30    7    16
17  527          AS Saint-Étienne        18      27           30    6    15
18  545                   FC Metz        19      23           30    4    15
19  526  FC Girondins de Bordeaux        20      23           30    4    15

    draw  goalsFor  goalsAgainst  goalDifference  form
0      5        64            28              36  Good
1      8        49            29              20  Good
2      5        64            29              35  Good
3      9        51            32              19  Good
4      7        40            24              16  Good
5      8        45            31              14  Good
6     11        38            35               3  Good
7      6        39            33               6  Good
8     10        43            39               4  Good
9      8        45            40               5  Good
10     5        44            42               2   Bad
11     8        38            44              -6   Bad
12    12        32            32               0   Bad
13     8        34            44             -10   Bad
14     8        28            42             -14   Bad
15    10        25            48             -23   Bad
16     7        30            54             -24   Bad
17     9        31            55             -24   Bad
18    11        27            54             -27   Bad
19    11        38            70             -32   Bad
                   club_name   avg.age
0     Paris Saint-Germain FC  25.55556
1     Olympique de Marseille  24.14286
2      Stade Rennais FC 1901  24.00000
3       RC Strasbourg Alsace  26.39130
4                   OGC Nice  24.36364
5               AS Monaco FC  24.27586
6                  Lille OSC  25.73913
7                  FC Nantes  26.03846
8         Olympique Lyonnais  25.03704
9        Racing Club de Lens  25.36000
10           Montpellier HSC  24.88462
11         Stade Brestois 29  25.61538
12            Stade de Reims  24.40741
13                Angers SCO  26.44000
14              ES Troyes AC  26.34375
15                FC Lorient  25.57143
16          Clermont Foot 63  26.46154
17          AS Saint-Étienne  24.96774
18                   FC Metz  25.70000
19  FC Girondins de Bordeaux  25.35484
     id                       team  position  points  playedGames  won  lost  \
0    86             Real Madrid CF         1      69           30   21     3
1    81               FC Barcelona         2      57           29   16     4
2    78    Club Atlético de Madrid         3      57           30   17     7
3   559                 Sevilla FC         4      57           30   15     3
4    90        Real Betis Balompié         5      53           30   16     9
5    92    Real Sociedad de Fútbol         6      51           30   14     7
6    94              Villarreal CF         7      45           30   12     9
7    77              Athletic Club         8      44           30   11     8
8    95                Valencia CF         9      41           30   10     9
9    79                 CA Osasuna        10      38           30   10    12
10  558           RC Celta de Vigo        11      36           30    9    12
11   80  RCD Espanyol de Barcelona        12      36           30    9    12
12   87   Rayo Vallecano de Madrid        13      33           29    9    14
13   82                  Getafe CF        14      32           30    7    12
14  285                   Elche CF        15      32           30    8    14
15   83                 Granada CF        16      29           30    6    13
16  264                   Cádiz CF        17      28           30    5    12
17   89               RCD Mallorca        18      26           30    6    16
18   88                 Levante UD        19      22           30    4    16
19  263           Deportivo Alavés        20      22           30    5    18

    draw  goalsFor  goalsAgainst  goalDifference  form
0      6        61            26              35  Good
1      9        57            29              28  Good
2      6        57            37              20  Good
3     12        40            20              20  Good
4      5        54            36              18  Good
5      9        30            29               1  Good
6      9        48            29              19  Good
7     11        35            29               6  Good
8     11        42            43              -1  Good
9      8        30            40             -10   Bad
10     9        34            34               0   Bad
11     9        35            42              -7   Bad
12     6        31            36              -5   Bad
13    11        28            33              -5   Bad
14     8        31            42             -11   Bad
15    11        33            48             -15   Bad
16    13        25            41             -16   Bad
17     8        26            50             -24   Bad
18    10        33            58             -25   Bad
19     7        24            52             -28   Bad
                    club_name   avg.age
0              Real Madrid CF  27.42308
1                FC Barcelona  25.66667
2     Club Atlético de Madrid  28.45455
3                  Sevilla FC  28.23077
4         Real Betis Balompié  29.00000
5     Real Sociedad de Fútbol  26.29630
6               Villarreal CF  28.00000
7               Athletic Club  26.44000
8                 Valencia CF  24.91667
9                  CA Osasuna  28.00000
10           RC Celta de Vigo  27.90476
11  RCD Espanyol de Barcelona  27.34615
12   Rayo Vallecano de Madrid  27.95652
13                  Getafe CF  26.40000
14                   Elche CF  29.33333
15                 Granada CF  27.68966
16                   Cádiz CF  28.70370
17               RCD Mallorca  27.61538
18                 Levante UD  28.84615
19           Deportivo Alavés  27.16000

## Web Collection Requirement \#2 (Web Scrape)

In [5]:
def web_parser2():
    import re
    import requests
    from pprint import pprint
    from bs4 import BeautifulSoup
    import csv
    import numpy as np
    import pandas as pd

    base_url = "https://sofifa.com/players?showCol%5B0%5D=ae&showCol%5B1%5D=hi&showCol%5B2%5D=wi&showCol%5B3%5D=oa&showCol%5B4%5D=pt&showCol%5B5%5D=vl&showCol%5B6%5D=wg&showCol%5B7%5D=tt&showCol%5B8%5D=pf&showCol%5B9%5D=ta&showCol%5B10%5D=ts&showCol%5B11%5D=to&showCol%5B12%5D=tp&showCol%5B13%5D=te&showCol%5B14%5D=td&showCol%5B15%5D=tg&r=220039&set=true&offset="
    # base_url to webpage from March 15, 2022. Scraped data is accurate as of this date.

    def convert_currency(astr): # function to convert currency to float
        digits = float(re.search(r"[0-9.]+", astr).group())
        return digits * 1E3 if "K" in astr else digits * 1E6 if "M" in astr else digits

    data = []

    for i in range(0, 19981, 60): # 19981
        offset = i
        response = requests.get(base_url+str(offset))
        page = BeautifulSoup(response.text, "html.parser")
        table = page.find("table", {"class":"table table-hover persist-area"})
        header = table.find("thead")
        header_items = header.find_all("th")[1:] # remove the first item because it is just a blank space
        rows = table.find("tbody").find_all("tr")
        # column order:
        #   0      1   2      3       4           5         6      7      8    9    10      11      12    13      14      15        16       17         18 
        # avatar name age overall potential team/contract height weight foot value wage attacking skill movement power mentality defending goalkeeping total
        # Now get player values:
        for row in rows:
            row_data = {}
            items = row.find_all("td")
            name_text = items[1].find_all("a")
            team = items[5].find("a").text
            if len(team) == 0: # skip all players with no team - these are free agents that will casue many inconsistencies
                continue
            row_data["team"] = team
            row_data["name"] = re.search(r"[A-z\u00C0-\u017F. ]+", name_text[0].text).group() # Some name values have weird numbers in front of them so I used RegEx to only get the name out. Also got accented char unicode range. 
            row_data["nationality"] = items[1].find("img").get("title")
            row_data["positions"] = " ".join(pos.text for pos in name_text[1:])
            row_data["age"] = items[2].text
            row_data["overall"] = items[3].text
            row_data["potential"] = items[4].text
            row_data["contract"] = items[5].find("div", {"class":"sub"}).text.strip()
            row_data["contract_start"] = int(re.search(r"([0-9]{4}) ~", row_data["contract"]).group(1) if "~" in row_data["contract"] else "0")
            row_data["contract_end"] = int(re.search(r"~ ([0-9]{4})", row_data["contract"]).group(1) if "~" in row_data["contract"] else "0")
            row_data["contract_length"] = row_data["contract_end"] - row_data["contract_start"]
            remaining_categories = ["height", "weight", "foot", "value", "wage", "attacking", "skill", "movement", "power", "mentality", "defending", "goalkeeping", "total"]
            row_data.update(dict(zip(remaining_categories, [item.text for item in items[6:]])))
            row_data["value"] = convert_currency(row_data["value"])
            row_data["wage"] = convert_currency(row_data["wage"])
            row_data["weight"] = re.search(r"\d+", row_data["weight"]).group()
            row_data["height"] = re.search(r"\d+", row_data["height"]).group()
            if row_data not in data:
                data.append(row_data)

    df = pd.DataFrame(data=data, columns=["name", "nationality", "team", "positions", "age", "overall", "potential", "contract", "contract_start", "contract_end", "contract_length", "height", "weight", "foot", "value", "wage", "attacking", "skill", "movement", "power", "mentality", "defending", "goalkeeping", "total"])

    df = df[(df["contract_end"] >= 2022) | (df["contract_end"] == 0)]
    
    print(df)
    df.to_csv("player_data.csv", index = True)
    return df


############ Function Call ############
web_parser2()

,name,nationality,team,positions,age,overall,potential,contract,contract_start,contract_end,...,value,wage,attacking,skill,movement,power,mentality,defending,goalkeeping,total
0,L. Messi,Argentina,Paris Saint-Germain,RW ST CF,34,93,93,2021 ~ 2023,2021,2023,...,78000000.0,320000.0,429,470,451,389,347,79,54,2219
1,R. Lewandowski,Poland,FC Bayern München,ST,32,92,92,2014 ~ 2023,2014,2023,...,119500000.0,270000.0,430,407,407,424,396,96,51,2211
2,K. Mbappé,France,Paris Saint-Germain,ST LW,22,91,95,2018 ~ 2022,2018,2022,...,194000000.0,230000.0,411,404,462,411,353,92,42,2175
3,M. Salah,Egypt,Liverpool,RW,29,91,91,2017 ~ 2023,2017,2023,...,129000000.0,350000.0,402,412,457,399,382,122,62,2236
4,K. De Bruyne,Belgium,Manchester City,CM CAM,30,91,91,2015 ~ 2025,2015,2025,...,125500000.0,350000.0,406,439,400,408,406,186,56,2301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18869,L. Rudden,Republic of Ireland,Finn Harps,ST,19,47,60,2021 ~ 2022,2021,2022,...,110000.0,500.0,190,190,329,229,184,35,53,1210
18870,R. Gallagher,Republic of Ireland,Finn Harps,CAM,20,47,61,2018 ~ 2022,2018,2022,...,110000.0,500.0,195,193,290,221,207,97,52,1255
18871,G. Singh,India,Mumbai City FC,ST LM,17,47,62,2021 ~ 2024,2021,2024,...,110000.0,500.0,195,196,340,251,222,135,50,1389
18872,R. Rana,India,ATK Mohun Bagan FC,CAM CM,18,47,62,2021 ~ 2026,2021,2026,...,110000.0,500.0,190,214,321,241,226,114,47,1353
18873,Jung Ho Yeon,Korea Republic,GwangJu FC,CM,20,45,53,2022 ~ 2026,2022,2026,...,100000.0,550.0,180,203,247,226,206,132,49,1243

## Additional Dataset Parsing/Cleaning Functions

Write any supplemental (optional) functions here.

In [6]:
def extra_source1():
    pass

    
############ Function Call ############
extra_source1()

In [7]:
# Define further extra source functions as necessary

# Inconsistencies
For each inconsistency (NaN, null, duplicate values, empty strings, etc.) you discover in your datasets, write at least 2 sentences stating the significance, how you identified it, and how you handled it.

1. (Web scrape) Formatted value and wages from a string format to an int. Wage formatted as €\<value/wage>\<M or K> where M or K meant millions or thousands of euros respectively. I identified it just by looking at the website, and I used regex to find the digits and multiplied by a million or a thousand depending on the suffix. 

2. (Web scrape) I removed players from the dataset that had a contract ending before 2022, meaning that they are players that are not playing anymore and would thus be irrelevant to phase 3 analysis. I identified them after creating new columns (one for wage start and end years out of the wage formatted as "start_year ~ end_year"), and sorting the end year column manually using Excel when viewing the initial CSV I exported. I removed these rows by using pandas DataFrame masking. The only exception to removing these rows are players on loan, which I specified as having a start and end year for their contracts as '0' and a contract length of '0'. 

3. (Downloaded Dataset/Excel) When no members of a particular gender participate in collegiate soccer at a school the  participation, revenues, revenues, and expenses columns all have entries is NaN that should instead be 0. I noticed this inconsistency after turning the excel sheet into a DataFrame, where I realized that those particular columns had NaNs instead of 0. To overcome this, I used the fillna() method to fill all NaNs with 0. 

4. (Downloaded Dataset/Excel) Some state codes were listed as NaN, which meant that the address listed had no state code. This only happened for the cases of university teams based outside of the United States. To counteract this I used masking and the np.isnan method to drop these rows. 

4. (API) Form for teams were listed as None. In football, we then used Panda DataFrame calculations to give each team a "Good" or "Bad" rating if they have won more games than they have lost.

5. (API) The API restricted 10 queries per minute, with the free-plan that we were subscribed to. Hence, why we had to use the time module to create buffer between queries to ensure that the required data was extracted from the API. The entire algorithm for the API takes approximately 24 mins to run completely. However, the appropriate files and data structures are extracted without being locked out of the API for sending too many queries per minute.